body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.topo{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.topo ion-icon {
    font-size: 45px;
    margin-right: 22px;
}

.mensagens{
    margin-top: 104px;
    margin-bottom: 90px;
    overflow-y: auto;
}

.mensagem{
    margin-bottom: 8px;
    padding: 10px 10px; 
    background-color: rgba(255, 255, 255, 1);
}

.base{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.base input{
    font-size: 18px;
    margin-left: 22px;
    font-style: italic;
    text-align: start;
    border: none;
    outline: none;
    width:210px;
}

::placeholder{
    color: black;
}

.base ion-icon{
    font-size: 26px;
    margin-right:22px ;
}

.status{
    background-color:rgba(220, 220, 220, 1);
}

.privado{
    background-color: rgba(255, 222, 222, 1);
}