body{
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.topo{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.topo img{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.topo ion-icon {
    font-size: 45px;
    margin-right: 22px;
}

.topo ion-icon:hover,.topo img:hover{
    color: #2b2a2a;
    cursor: pointer;
}

.mensagens{
    margin-top: 104px;
    margin-bottom: 90px;
    overflow-y: auto;
    display: none;
}

.mensagem{
    margin-bottom: 8px;
    padding: 10px 10px; 
    background-color: rgba(255, 255, 255, 1);
}

.base{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.base input{
    font-size: 18px;
    margin-left: 22px;
    font-style: italic;
    text-align: start;
    border: none;
    outline: none;
    width:40vw;
}

::placeholder{
    color: black;
}

.base ion-icon{
    font-size: 26px;
    margin-right:22px ;
}

.base p{
    margin-left: 22px;
    color: #686666;
}

.status{
    background-color:rgba(220, 220, 220, 1);
}

.privado{
    background-color: rgba(255, 222, 222, 1);
}

.cinzaTempo{
    color: #aaa;
}

.quebrarPalavra{
    word-break:break-all;
}


/* fazendo as classes para a pagina de entrada */
.esconder{
    display: none;
}

.telaEntrada{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.telaEntrada img{
    width: 130px;
    margin-top: 72px;
}

.telaEntrada input{
    margin-top: 94px;
    text-align: center;
    width: 261px;
    height: 54px;
    border: 1px solid rgba(215, 215, 215, 1);
    font-size: 18px;
    border-radius: 8px;
}

.telaEntrada input::placeholder{
    color: rgba(215, 215, 215, 1);
}

.telaEntrada input:focus{
    outline: none;
}

.telaEntrada button{
    margin-top: 15px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 8px;
    color: #696969;
    padding: 15px 32px;
    text-align: center;
}

#imagemCarregando{
    display: none;
    margin-top: 68px;
}

#botaoEntrada:hover,#iconeEnviarMsg:hover{
    cursor: pointer;
    filter: brightness(80%);
}

/* Fazendo escolha de contato */

.escolhaContato{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

.transparente{
    width:calc(100vw - 259px);
    background-color: rgba(0, 0, 0, 0.6);
}

.menuLateral{
    height: 100%;
    width:259px;
    background-color: #fff;
    overflow-y: scroll;
}

.menuLateral span{
    font-size: 16px;
}

.menuLateral .icone{
    font-size:24px;
    
}

.tituloMenuLateral{
    width: 100%;
    height: 84px;
    text-align: center;
    padding-top:30px;
}

.opcaoMenuLateral{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.opcaoMenuLateral:hover{
    cursor: pointer;
    background-color: #c4bcbc;
}

.visibilidadeMensagem{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.iconeCheck{
    font-size:21px;
    margin-right: 30px;
    color: #28BB25;
    display: none;
}

.iconeMarcado{
    display: block;
}